.nav-tabs .nav-link {
    cursor: pointer;
    color: var(--bs-primary);
}

.nav-tabs .nav-link.active {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border-color: #dee2e6 #dee2e6 #fff;
}