<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand navbar-brand-stylish d-flex align-items-center" routerLink="/">
      <img
        *ngIf="schoolLogoUrl()"
        [src]="schoolLogoUrl()"
        alt="School Logo"
        class="me-2 rounded-circle border border-light shadow"
        style="height: 45px; width: 45px; object-fit: cover;"
      />
      <span class="text-uppercase">{{ schoolName() }}</span>
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- About Us -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us <i class="bi bi-chevron-down dropdown-arrow-icon"></i>
          </a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" [routerLink]="['/about-us']"><i class="bi bi-building me-2 nav-link-icon text-primary"></i> About Us</a></li>
            <li>
              <a *ngIf="school()" class="dropdown-item" [routerLink]="['/SchoolDashboard', school()?.slug, 'ManagemantDesk']"><i class="bi bi-person-video3 me-2 nav-link-icon text-success"></i> Management Desk ({{school()?.name}})</a>
          
            </li>
             <li>
              <a *ngIf="school()" class="dropdown-item" [routerLink]="['/SchoolDashboard', school()?.slug, 'StaffList']"><i class="bi bi-person-video3 me-2 nav-link-icon text-success"></i>Staff List ({{school()?.name}})</a>
          
            </li>
          </ul>
        </li>

        <!-- Academics -->
        <li class="nav-item dropdown ms-lg-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Academics <i class="bi bi-chevron-down dropdown-arrow-icon"></i>
          </a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" [routerLink]="['/courses']"><i class="bi bi-journal-text me-2 nav-link-icon text-info"></i> Our Courses</a></li>
            <li><a class="dropdown-item" [routerLink]="['/curriculum']"><i class="bi bi-book me-2 nav-link-icon text-warning"></i> Our Curriculum</a></li>
            <li><a class="dropdown-item" [routerLink]="['/faculty']"><i class="bi bi-people me-2 nav-link-icon text-secondary"></i> Our Faculty</a></li>
          </ul>
        </li>

        <!-- Students Corner -->
        <li class="nav-item dropdown ms-lg-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students Corner <i class="bi bi-chevron-down dropdown-arrow-icon"></i>
          </a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" [routerLink]="['/syllabus']"><i class="bi bi-cloud-download me-2 nav-link-icon text-danger"></i> Download Syllabus</a></li>
            <li>
              <a *ngIf="school()" class="dropdown-item" [routerLink]="['/SchoolDashboard', school()?.slug, 'question-bank']"><i class="bi bi-person-video3 me-2 nav-link-icon text-success"></i>Question Bank ({{school()?.name}})</a>
            </li>
            <li>
              <a *ngIf="school()" class="dropdown-item" [routerLink]="['/SchoolDashboard', school()?.slug, 'teacher-videos']"><i class="bi bi-collection-play me-2 nav-link-icon text-danger"></i> Video Lectures ({{school()?.name}})</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Login Dropdown -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-outline-light btn-sm d-flex align-items-center px-3 rounded-pill" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-box-arrow-in-right me-1"></i> Login <i class="bi bi-chevron-down dropdown-arrow-icon"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" [routerLink]="['/admin/login']"><i class="bi bi-shield-lock me-2 nav-link-icon text-primary"></i> Admin</a></li>

            <!-- Director, Account, Teacher, and Student logins -->
            <ng-container *ngIf="school() as school; else noSchoolLogin">
              <li>
                <a class="dropdown-item" [routerLink]="['/director-login', school.slug]"><i class="bi bi-person-video3 me-2 nav-link-icon text-success"></i> Director</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/account-login', school.slug]"><i class="bi bi-cash-coin me-2 nav-link-icon text-info"></i> Account</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/teacher-login', school.slug]"><i class="bi bi-person-workspace me-2 nav-link-icon text-warning"></i> Teacher</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/student-login', school.slug]"><i class="bi bi-mortarboard me-2 nav-link-icon text-secondary"></i> Student</a>
              </li>
                <li>
                <a class="dropdown-item" [routerLink]="['/principal-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Principal</a>
              </li>
               <li>
                <a class="dropdown-item" [routerLink]="['/staff-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Staff</a>
              </li>
               <li>
                <a class="dropdown-item" [routerLink]="['/transport-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Transport</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/frontdesk-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Frontdesk</a>
              </li>
               <li>
                <a class="dropdown-item" [routerLink]="['/security-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Security Desk</a>
              </li>
                <li>
                <a class="dropdown-item" [routerLink]="['/examcontroller-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Exam Controller</a>
              </li>
               <li>
                <a class="dropdown-item" [routerLink]="['/itdepartment-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> IT Department</a>
              </li>
               <li>
                <a class="dropdown-item" [routerLink]="['/parrent-login', school.slug]"><i class="bi bi-person-badge me-2 nav-link-icon text-info"></i> Parent</a>
              </li>
            </ng-container> 
            <ng-template #noSchoolLogin>
              <li><a class="dropdown-item" [routerLink]="['/director-login']"><i class="bi bi-person-video3 me-2 nav-link-icon text-success"></i> Director</a></li>
              <li><a class="dropdown-item" [routerLink]="['/student-login']"><i class="bi bi-mortarboard me-2 nav-link-icon text-secondary"></i> Student</a></li>
            </ng-template>

            <li><a class="dropdown-item" [routerLink]="['/staff/login']"><i class="bi bi-briefcase me-2 nav-link-icon text-warning"></i> Staff</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
